.pageHeader {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 333%;
    padding: 30px;
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Oswald', sans-serif;
    font-size: 150%;
}

.shop {
    display: flex;
    justify-content: center;
    border: 5px solid #6F4E37;
    border-radius: 25px;
    width: 25%;
    align-content: space-around;
    margin: 5px 15px;  
    background: #F5EDDA;

} 

body {
    background-color: tan;